.table-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.table-header-txt {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: Segoe UI;
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.mat-slide-toggle ::ng-deep .mdc-switch .mdc-switch__handle-track {
  width: 17px !important;
}

.mat-slide-toggle ::ng-deep .mdc-switch {
  width: 32px !important;
  border: 1px solid #dee2e6;
  border-radius: 32px;
}

.mat-slide-toggle ::ng-deep .mdc-form-field > label {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.mat-slide-toggle ::ng-deep .mdc-switch:enabled .mdc-switch__track::before {
  background-color: white !important;
}

.mat-slide-toggle ::ng-deep .mdc-switch:enabled .mdc-switch__track::after {
  background-color: #005baa !important;
}

.mat-slide-toggle ::ng-deep .mdc-switch .mdc-switch__handle {
  width: 14px !important;
  height: 14px !important;
}

.mat-slide-toggle ::ng-deep .mdc-elevation-overlay {
  background-color: #dee2e6 !important;
  border: 1px solid #dee2e6;
}

.sort-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.txt-info {
  display: flex;
  align-items: center;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  margin: 0;
  gap: 5px;
}

.txt-info :first-child {
  color: red;
}

.measure-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 30px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions-left {
  display: flex;
  gap: 16px;
}

.actions-right {
  display: flex;
  gap: 16px;
}

.dichotomy-btn {
  display: flex;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  color: #005baa;
  border: 1px solid #005baa;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(217, 228, 250);
  color: #00498a;
  border: 1px solid #005096;
  transition: 0.3s;
}

.btn-view {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ced4da;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-view:first-child {
  border-radius: 4px 0px 0px 4px;
  border-right: none;
}

.btn-view:last-child {
  border-radius: 0px 4px 4px 0px;
}

.btn-expand {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ced4da;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-expand:hover {
  background-color: #ced4da;
  transition: 0.3s;
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  color: #005baa;
  border: none;
  padding: 8.5px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
}

.btn-text {
  display: flex;
  align-items: center;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

.table th {
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  font-family: Segoe UI;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.checkbox-column {
  width: 38px;
  text-align: center;
}

.checkbox-column mat-checkbox {
  margin: 0 auto;
  display: block;
}

.button-cell {
  padding: 0 !important;
}

.fullscreen {
  position: fixed;
  overflow: nowrap;
  margin: 0;
  padding: 20px;
  top: 0;
  left: 0;
  width: 97.6vw;
  height: 100vh;
  z-index: 1000;
  background-color: white;
}

.fullscreen .measure-table {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
