.substation {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 16px 30px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.breadcrumbs-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 5px 12px;
}

.breadcrumbs-txt {
  display: flex;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  margin: 0;
}

.crumbs {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

.substation-name {
  font-family: Segoe UI;
  font-size: 22px;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;
  margin: 0;
}

.save-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  background-color: #005baa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  color: white;
}

.save-btn:hover {
  background-color: #006fcf;
}

.save-btn-text {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  margin: 0;
}

.measure-type {
  display: flex;
  flex-direction: row;
}

.substation-type {
  color: #005baa;
  background-color: white;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 9px 12px;
  border-bottom: 1px solid #dee2e6;
}

.substation-type-text {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.equipment-type {
  color: #495057;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  border: 1px solid #dee2e6;
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
  cursor: pointer;
  padding: 9px 12px;
}

.equipment-type-text {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
}

.edit-type {
  display: flex;
  flex-direction: row;
}

.edit-text {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 0;
}

.list-type {
  display: flex;
  flex-direction: row;
  color: #333333;
  padding: 4.5px 12px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #ced4da;
  border-right: none;
  background-color: #f2f2f2;
}

.statesment-type {
  display: flex;
  flex-direction: row;
  color: #4f4f4f;
  padding: 4.5px 12px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #ced4da;
  background-color: white;
}

.filter-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-height: 32px;

  color: #333333;
}

.type-txt {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.28px;
  text-align: left;
  margin: 0;
}

.form-select {
  justify-content: center;
  padding: 4.5px 96px 4.5px 12px;
  flex-direction: row;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #212529;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ced4da;
}

.form-select:hover {
  border: 1px solid #005baa;
}

.form-check {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
  cursor: pointer;
}

.form-check-input {
  height: 16px;
  width: 32px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3e%3c/svg%3e");
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.form-check-label {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #212529;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  width: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

.table th {
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  font-family: Segoe UI;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.active-row {
  background-color: #e5eff7 !important;
}
