<div class="substation">
    <div class="actions">
        <div class="actions-left">
            <button class="breadcrumbs-btn">
                <img src="assets/menu.svg" class="burger-img" />
                <p class="breadcrumbs-txt">Подстанции</p>
            </button>
            <span class="crumbs">></span>
            <h1 class="substation-name"> ТЭЦ ПГУ ГСР Энерго</h1>
        </div>
        <button class="save-btn">
            <img src="assets/save.svg" class="save-img" />
            <p class="save-btn-text">Сохранить</p>
        </button>
    </div>
    <div class="measure-type">
        <button class="substation-type">
            <p class="substation-type-text">Подстанция</p>
        </button>
        <button class="equipment-type">
            <p class="equipment-type-text">Оборудование</p>
        </button>
       <div class="divider"></div>
    </div>
    <div class="edit-type">
        <button class="list-type">
            <p class="edit-text">Список</p>
        </button>
        <button class="statesment-type">
            <p class="edit-text">Ведомость</p>
        </button>
    </div>
    <div class="filter-area">
        <div class="select-area">
            <div class="type">
                <p class="type-txt">Тип</p>
                <select class="form-select select" [(ngModel)]="defaultOptionType">
                    <option value="option1">Трансформаторы</option>
                    <option value="option2">Транзисторы</option>
                  </select>
            </div>
            <div class="type">
                <p class="type-txt">РУ</p>
                <select class="form-select select" [(ngModel)]="defaultOptionPy">
                    <option value="option1">110</option>
                    <option value="option2">100</option>
                    <option value="option3">220</option>
                  </select>
            </div>
        </div>
        <mat-slide-toggle class="mat-slide-toggle" color="primary" hideIcon="true">Схема</mat-slide-toggle>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>U ном.</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let measurement of measurements" (click)="selectMeasurement(measurement.id)"
                [style.background-color]="idNumber === measurement.id ? '#E5EFF7': 'white'">
                <td>{{measurement.name}}</td>
                <td>{{measurement.voltage}}</td>
            </tr>
        </tbody>
    </table>
</div>