
  <app-header (sectionSelected)="onSectionSelected($event)" (btnGroupSelected)="onBtnGroupSelected($event)"></app-header>
<as-split class="app-body" [direction]="splitDirection" [ngClass]="{'vertical-split': splitDirection === 'vertical'}">
  <as-split-area>
    <div>
      <app-substation-list (selectedMeasurementIdChange)="onMeasurementIdChange($event)"></app-substation-list>
    </div>
  </as-split-area>
  <as-split-area>
    <div *ngIf="selectedSection === 'measurements'">
      <app-control-measures [measurementId]="selectedMeasurementId"></app-control-measures>
    </div>
    <div *ngIf="selectedSection === 'reports'">
      Отчеты
    </div>
    <div *ngIf="selectedSection === 'service'">
      Сервис
    </div>
  </as-split-area>
</as-split>
<footer class="footer">
  <p>Версия 11.6.5.41</p>
</footer>

